{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Dunder Mifflin Paper Company</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
              <img src="{% static 'Login.png' %}" width="70" height="70" class="d-inline-block align-top" alt="">
              <span style="font-size: 32px;">Dunder Mifflin Paper Company</span>
            </a>

            

              <form class="form-inline">
                <button class="btn-warning pl-5 pr-5 pt-2 pb-2" style="border-radius:20px;"><a href="/admin">Login</a> </button>
              </form>

          </nav>
      </div>

      <!-- Body paper -->
      <center>
        <img src="{% static 'test.png' %}" class="img-fluid" alt="news">
      </center>
     



    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>